<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css')}}">
    <link rel="shorcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='/js/language-success.js' ) }}"></script>
    <title>Pago Aprobado</title>
</head>
<body>
    <div class="flex flex-col items-center justify-center">
        <h1 id="title" class="font-quicksand text-3xl text-deepestBlue font-black text-center mt-10 mb-10">Pago Aceptado</h1>
        <p   p id="paragraph" class="font-quicksand text-deepestBlue text-lg font-medium text-center">Hemos procesado tu pago, enviaremos  informacion al mail que registrate para el la transaccion.</p>
        <a id="back-button" href="{{ url_for('home') }}" class="font-bold text-2xl text-center bg-deepestBlue text-white p-3 mx-auto rounded-4xl mt-6">Regresar</a>
    </div>
    

    <script> const CONTENT_URL= "{{ url_for('static', filename='content-success.json') }}" </script>
</body>
</html>